{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3"
            <h1>{% trans "Sign Up" %}</h1>

            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>
                .{% endblocktrans %}</p>

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form user_form %}
                {% bootstrap_form profile_form %}
                {% if redirect_field_value %}
                    <input type="hidden" name="next" value="{% url 'default' %}"/>
                {% endif %}
                {% buttons %}
                    <button class='btn btn-primary' type="submit">{% trans "Sign Up" %} &raquo;</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}
